
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Para la mayoría de navegadores modernos */
main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
