html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-image: url('./assets/body-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Para la mayoría de navegadores modernos */
main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
